rgba($brace-color,0) 14.5px, $brace-color 15.5px, $brace-color 19.5px, rgba($brace-color,0) 20.5px);
  background-size: 35px 20px;
  background-position: center bottom;
  background-repeat: no-repeat;
  text-transform: lowercase;
  font-style: italic;
  color: $brace-color;
  filter: drop-shadow(0 1px 1px rgba(black,.15));
  
  &:before {
    width: 50%;
    border-top: 5px solid $brace-color;
    border-left: 1px solid transparent; /* play with this until you like the look of it */
    border-top-left-radius: 20% 30px;
    height: 100%;
    content: "";
    absolute: top @height left -15px;
    box-sizing: border-box;
    margin-top: -5px;
  }
  
  &:after {
    width: 50%;
    border-top: 5px solid $brace-color;
    border-right: 1px solid transparent; /* play with this until you like the look of it */
    border-top-right-radius: 20% 30px;
    height: 100%;
    content: "";
    absolute: top @height right -15px;
    box-sizing: border-box;
    margin-top: -5px;
  }
}
